{{ define "main" }}
<header class="content__header">
    <h1>{{ .Title | markdownify }}</h1>
    {{ .Content }}
</header>

{{ $paginator := .Paginate (where .Pages "Type" "articles") }}
{{ range $paginator.Pages }}
<article class="post">
    <header class="post__header">
        <h2><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h2>
        <p class="post__meta">
            <i class="fa fa-calendar-day"></i>
            <span class="date">{{ time.Format ":date_long" .Date }}</span>
        </p>
    </header>

    <section class="post__summary">
        {{ .Summary }}
    </section>
</article>
{{ end }}

<nav class="pagination">
    {{ if $paginator.HasPrev }}
    <a href="{{ $paginator.Prev.URL }}">← Précédent</a>
    {{ end }}
    {{ if $paginator.HasNext }}
    <a href="{{ $paginator.Next.URL }}">Suivant →</a>
    {{ end }}
</nav>

{{ end }}
