{{ define "main" }}

<article class="post">
    <header class="content__header">
        <h1>{{ .Title | markdownify }}</h1>
        <p class="post__meta">
            <span class="fas fa-calendar-day"></span>
            <span class="date">{{ .Date.Format "2 January 2006" }}</span>
            {{ with .Params.tags }}
            <span class="post__tags">Mots-clés:
                {{ $last := sub (len .) 1 }}
                {{ range $index, $tag := . }}
                    <a href="/tags/{{ $tag | urlize }}">{{ $tag }}</a>{{ if lt $index $last }}, {{ end }}
                {{ end }}
            </span>
            {{ end }}
        </p>
    </header>
    <div class="content__body">
        {{ .Content }}
    </div>
    <footer class="content__footer"></footer>
</article>
{{ end }}

{{define "aside" }}
    {{ if .Params.description }}<p>{{ .Params.description }}</p>{{ end }}
    {{ if or (.Params.author) (.Params.date) }}
        <p>
            {{ if .Params.author }}By {{ .Params.author }}{{ if .Date }}, {{ end }}{{ end }}
            {{ if .Date }}{{ .Date.Format "2006-01-02" }}{{ end }}
        </p>
    {{ end }}
    {{.TableOfContents}}
{{ end }}
