{{ define "main" }}

<article class="post">
    <header class="content__header">
        <h1>{{ .Title | markdownify }}</h1>
        <p class="post__meta">
            <span class="fas fa-calendar-day"></span>
            <span class="date">{{ time.Format ":date_long" .Date }}</span>
            {{ with .Params.tags }}
            <span class="post__tags">Mots-clés:
                {{ $last := sub (len .) 1 }}
                {{ range $index, $tag := . }}
                    <a href="/tags/{{ $tag | urlize }}">{{ $tag }}</a>{{ if lt $index $last }}, {{ end }}
                {{ end }}
            </span>
            {{ end }}
        </p>
    </header>
    <div class="content__body">
        <h2>Sommaire</h2>
        {{.TableOfContents}}
        {{ .Content }}
    </div>
    <footer class="content__footer"></footer>
</article>
{{ end }}
